<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
	<p><a href='test'>Start AxelMemoTest</a></p>
	<p><a href='panel'>OpenBCI DashBoard</a></p>
  </body>
</html>
